# Log file
*.log

# BlueJ files
*.ctxt

# Folders that shouldn't be in here
out/**
target/**
.idea/**

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
